// #region Common
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
:root{
  --gogreen-primary: #007166;
  --gogreen-secondary: #EF9E03;
  --gogreen-light: #FFFFFF;
  --gogreen-soft: #888888;
  --gogreen-dark: #333333;
}
// #endregion Common



// #region Utilities

// #endregion Utilities



// #region header
// #endregion header



// #region main
// #endregion main



// #region footer
// #endregion footer