// #region Common
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
:root{
  --gogreen-primary: #007166;
  --gogreen-secondary: #EF9E03;
  --gogreen-light: #FFFFFF;
  --gogreen-soft: #888888;
  --gogreen-dark: #333333;
}
// #endregion Common
// <-//////////////->



// #region Utilities

// #region Flexbox
.d-flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.flex-end{
  justify-content: flex-end;
}
.flex-start{
  justify-content: flex-start;
}
.align-center{
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
}
.gap-05{
  gap: 0.5rem;
}
.gap-1{
  gap: 1rem;
}
.gap-2{
  gap: 2rem;
}
.self-end{
  justify-self: flex-end;
}
.align-end{
  align-self: flex-end;
}
.wrap{
  flex-wrap: wrap;
}
// #endregion Flexbox
// <-//////////////->

// #region spacings
.ml-4{
  margin-left: 4rem;
}
.mt-3{
  margin-top: 3rem;
}
.mt-2{
  margin-top: 2rem;
}
// #endregion spacings
// <-//////////////->

// #region background
.bg-primary{
  background-color: var(--gogreen-primary);
  color: white;
}
.bg-secondary{
  background-color: var(--gogreen-secondary);
  color: white;
}
.color-primary{
  color: var(--gogreen-primary);
}
.color-secondary{
  color: var(--gogreen-secondary);
}
.color-white{
  color: white;
}
// #endregion background
// <-//////////////->

// #region tools
.btn{
  height: 35px;
  width: 100px;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 0 10px 0 10px;
  font-size: small;
}
.text-center{
  text-align: center;
}
.col-50{
  width: calc(50% - 1rem);
}
.line-height{
  line-height: 30px;
}
// #endregion tools
// <-//////////////->

// #endregion Utilities
// <-//////////////->



// #region header

// #region greenLine
#greenLine{
  background-color: var(--gogreen-primary);
  width: 100%;
  height: 40px;
  .smallInfo{
    width: 90%;
    height: 100%;
    margin: auto;
    .leftSmall{
      width: 25%;
      height: 100%;
      a {
        text-decoration: none;
        color: white;
        font-size: x-small;
      }
    }
    .rightSmall{
      width: 20%;
      height: 100%;
      a {
        text-decoration: none;
        color: white;
        font-size: x-small;
      }
    }
  }

}
// #endregion greenLine
// <-///////////////->


// #region navbar
.nav{
  width: 100%;
  height: 60px;
  background-color: var(--gogreen-light);
  .navContainer{
    width: 90%;
    height: 100%;
    margin: auto;
    .logo{
      width: 20%;
      img{
        width: 110px;
      }
    }
    .navMenu{
      width: 60%;
      a{
        text-decoration: none;
        color: black;
        i{
          color: gray;
        }
      }
    }
    .cart{
      width: 20%;
      height: 100%;

      .search{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--gogreen-secondary);
        color: white;
        i{
          font-size: small;
        }
      }
      
      .cartIcon{
        width: 30px;
        position: relative;
        color: var(--gogreen-primary);
        i{
          font-size: smaller;
        }
        .zero{
          color: white;
          font-size: xx-small;
          position: absolute;
          top: 0;
          right: 7px;
          width: 11px;
          height: 11px;
          background-color: var(--gogreen-secondary);
          border-radius: 50%;
        }
      }
    }
  }
  }
// #endregion navbar
// <-///////////////->

// #endregion header
// <-//////////////->



// #region main

// #region jumbotron
.jumbotron{
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(../img/H3-slider3.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
  .leftRow{
    position: absolute;
    left: 0;
    top: 50%;
    color: white;
    font-size: xx-large;
    font-weight: lighter;
  }
  .rightRow{
    position: absolute;
    right: 0;
    top: 50%;
    color: white;
    font-size: xx-large;
    font-weight: lighter;
  }
  .jumboContainer{
    width: 50%;
    margin: auto;
    padding-top: 14%;
    h1{
      font-size: xx-large;
      font-weight: bold;
      color: white;
    }
    h5{
      color: white;
    }
  }
}
// #endregion jumbotron
// <-///////////->

// #region all natural
.allNatural{
  position: relative;
  margin-top: 6rem;
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
  .natContainer{
    width: 60%;
    margin: auto;
    h2 > span{
      font-weight: bolder;
      font-size: xx-large;
    }
    p{
      font-size: small;
    }
    .wrapper{
      width: 100%;
      img{
        width: 160px;
      }
    }
    .stamp{
        width: 120px;
        position: absolute;
        top: 0;
        right: 8rem;
    }
  }
}
// #endregion all natural
// <-///////////->

// #region all organic
.allOrganic{
  width: 100%;
  margin: 5rem 0;
  .containerOrg{
    width: 70%;
    aspect-ratio: 1;
    margin: auto;
    background-image: url(../img/shop-bg-img.jpg);
    background-position: center;
    background-size: cover;
    h1{
      font-size: xx-large;
      font-weight: 900;
    }
    a{
      text-decoration: none;
      color: white;
    }
    .containerWrap{
      width: 75%;
      margin: auto;
      .imgTop{
        position: relative;
        .offer{
          position: absolute;
          top: 5px;
          right: 15px;
          font-size: x-small;
          padding: 0.2rem 0.3rem;
        }

      }
      .card{
        width: calc(100% / 12 * 3);
        margin-top: 0.5rem;
      }
    }
  }
}
// #endregion all organic
// <-///////////->

// #region dessert
.dessert{
  .container-sm{
    width: 50%;
    margin: auto;
    img{
      width: 50px;
      filter: invert(#007166);
    }
    p{
      line-height: 30px;
      font-weight: 500;
    }
    h3{
      font-weight: bold;
    }
    h5{
      font-size: smaller;
      font-weight: 900;
    }
  }
  .container-md{
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    .off{
      position: relative;
      img{
        width: 400px;
      }
      .pos-top{
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        color: white;
      }
      .shop-now{
        position: absolute;
        bottom: 1.5rem;
        left: 1.5rem;
        color: white;
        font-weight: bolder;
      }
    }
  }
}
// #endregion dessert
// <-///////////->

// #region data
.data{
  width: 85%;
  height: 200px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-image: url(../img/milesim-bg.jpg);
  .numbContainer{
    width: 90%;
    height: 100%;
    margin: auto;
    .col-n{
      width: 20%;
      height: 100%;
      h1{
        font-size: 50px;
      }
      h4{
        font-weight: 900;
      }
    }
    img{
      height: 120px;
    }
  }
}
// #endregion data
// <-///////////->

// #region trending
.trendig{
  width: 60%;
  margin: auto;
  .trend{
    position: relative;
    z-index: 1;
    img{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
}
// #endregion trending
// <-///////////->



// #endregion main
// <-//////////////->



// #region footer
// #endregion footer
// <-//////////////->